.pg-btn-wrapper {
  margin-top: 16px;
}

.pg-btn {
  margin-top: 10px;
  border: 1px solid #c7980085;
  border-radius: 100px;
  background-color: #ffc3003b;
  color: #2f2100;
  padding: 4px 10px;
  outline: none;
  font-size: 14px;
}

.pg-btn-form{
  padding: 10px 30px;
  font-size: 18px;
  margin-right: 40px;
  min-width: 216px;
}

.pg-btn-form:last-child {
  margin-right: 0;
}

.pg-btn-form:hover {
  background-color: rgba(255, 195, 0, 0.49);
}
