/* поля формы */
.ffg-host {
  margin-bottom: 4px;
}

.ffg-host:last-child {
  margin-bottom: 0;
}

.gl-form-input-item {
  margin-bottom: 8px;
}

.gl-form-input-item:last-child {
  margin-bottom: 0;
}

.ffg-error {
  font-size: 14px;
  color: #c70707c9;
  margin-top: 2px;
  margin-left: 18px;
  font-weight: 600;
  max-height: 0;
  overflow: hidden;
}

.ffg-mod-show.ffg-mod-exist {
  max-height: 20px;
  transition: max-height 400ms;
}
