/* радио и чекбокс */
.gl-radio-wrapper, .gl-checkbox-label {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

.gl-input-radio, .gl-input-checkbox {
  display: none;
}

.gl-input-content {
  margin-left: 30px;
}

.gl-input-content:before {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 1px solid #2f2100;
  border-radius: 4px;
}

.gl-input-content:hover:before, .ffg-host.ffg-mod-touched.ffg-mod-invalid .gl-input-content:hover:before {
  background-color: #ffd2c0;
}

.gl-input-radio-content:before {
  border-radius: 100%;
}

.gl-input-radio:checked + .gl-input-content:before,
.gl-input-checkbox:checked + .gl-input-content:before,
.ffg-host.ffg-mod-touched.ffg-mod-invalid .gl-input-radio:checked + .gl-input-content:before,
.ffg-host.ffg-mod-touched.ffg-mod-invalid .gl-input-checkbox:checked + .gl-input-content:before {
  background-color: #eea400;
}

.ffg-host.ffg-mod-touched.ffg-mod-invalid .gl-input-content:before {
  transition: box-shadow 400ms;
  background-color: #ffffff;
  border: 1px solid #d00000;
  box-shadow: 0 0 5px 0 #c70707;
}
