/* инпуты с полем */
.gl-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.gl-input-wrapper:last-child {
  margin-bottom: 0;
}

.gl-input-caption {
  font-size: 14px;
  color: darkgrey;
  margin-left: 2px;
}

.gl-input {
  outline: none;
  width: 100%;
  padding: 4px 8px;
}

.ffg-host.ffg-mod-touched.ffg-mod-invalid .gl-input {
  transition: 400ms;
  border: 1px solid #c70707;
  box-shadow: 0 0 4px 0 #c70707;
}
