@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('Inter-Medium.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-SemiBold.otf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Bold.otf');
  font-style: normal;
  font-weight: 700;
}
