.add-friend-wrapper .input-checkbox-caption {
    font-size: 14px;
}

.add-friend-wrapper .checkbox-wrapper {
    margin-bottom: 0;
}

.add-friend-wrapper .friends-wrapper {
    margin-top: 10px;
    margin-left: 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 800ms;
}

.add-friend-wrapper .friends-wrapper.mod-show {
    max-height: 1000px;
}

.add-friend-wrapper .input-wrapper {
    position: relative;
}

.add-friend-wrapper .btn-remove-nameFriend {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    border: 1px solid darkred;
    border-radius: 4px;
    background-color: rgba(255, 88, 88, 0.77);
    color: rgb(249, 249, 249);
}

.add-friend-wrapper .btn-remove-friends:hover {
    background-color: rgba(255, 88, 88, 0.91);
}
