body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.pg-page-wrapper {
  margin: 30px 200px;
  padding: 20px 60px;
  border: 2px dashed #c7980085;
  border-radius: 19px;
  background-color: #c798000a;
}

.pg-page-content {
  border-bottom: 1px solid #c7980085;
  padding: 16px 0;
}

.pg-page-content:first-child {
  padding-top: 0;
}

.pg-page-content:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.pg-title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 24px;
}

.pg-caption {
  margin: 0 0 10px;
}
